<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Comment</th>
      <th></th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%=@post.title%></td>
        <td><%=@post.comment %></td>
        <td></td>
      </tr>
  </tbody>
</table>
<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-sm btn-success " %>
<%= link_to 'Destroy', post_path(@post), method: :delete %>
